{% extends "base.html" %} {%block title %}Sartajs Price Alerter{% endblock %} {% block content %}
<form method = "POST">
	<h3 align="center">Sartajs Price Alerter</h3>
	<div class = "form-group">
		<label for="url">Amazon.com or .ca Product URL</label>
		<input type="url"
			class="form-control"
			id="url"
			name="url"
			placeholder="Enter the full url" 
		/>
	</div>

	<div class = "form-group">
		<label for="desire">Desired Price</label>
		<input type="desire"
			class="form-control"
			id="desire"
			name="desire"
			placeholder="Enter your desired price" 
		/>
	</div>

	<div class = "form-group">
		<label for="email">Email</label>
		<input type="email"
			class="form-control"
			id="email"
			name="email"
			placeholder="Enter the email you would like to receive the alert!" 
		/>
	</div>
	<br>
	<button type="Execute" class="btn btn-primary">Initiate Alert</button>
	
</form>
{% endblock %}